body {
    font-family: system-ui, Roboto, Arial, sans-serif;
    font-size: 1.2em;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}
