{{ block "core-org" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/core/orgs.css">
{{ end }}

{{ define "scripts" }}{{ end }}

{{ define "screen" }}
<main>
    <h3>{{ .Name }}</h3>
    {{ if not .SubOrgs }}
        <div>
            <p>No sub-organizations.</p>
        </div>
    {{ end }}
    <div>
        {{ range .SubOrgs }}
            <p>
                <a href="/core/org/{{ .ID }}">{{ .Name }}</a>
            </p>
        {{ end }}
    </div>
    <hr />
    <p>
        <a href="/core/orgs">Back</a>
    </p>
</main>
{{ end }}
