{{ block "core-org" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/core/orgs.css">
{{ end }}

{{ define "scripts" }}{{ end }}

{{ define "screen" }}
<main>
    {{ $LANG := .Lang }}
    {{ $D := .Data }}
    {{ $OP := (index $D.Trlx $LANG)}}
    <h3>{{ $OP.Name }}</h3>
    {{ if not $D.SubOrgs }}
        <div>
            <p>No sub-organizations.</p>
        </div>
    {{ end }}
    <div>
        {{ range $D.SubOrgs }}
            {{ $SOP := (index .Trlx $LANG)}}
            <p>
                <a href="/core/org/{{ .ID }}">{{ $SOP.Name }}</a>
            </p>
        {{ end }}
    </div>
    <hr />
    <p>
        {{ if gt $D.ParentID 0 }}
            <a href="/core/org/{{ $D.ParentID }}">Back</a>
        {{ else }}
            <a href="/home">Back</a>
        {{ end }}
    </p>
</main>
{{ end }}
