{{ block "main-login" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/login.css">
{{ end }}
{{ define "scripts" }}{{ end }}

{{ define "screen" }}
    <main class="login screen">
        <form action="/login" method="post">
            <fieldset>
                <legend>{{ t .Lang "login_login" }}</legend>
                <div class="field">
                    <label for="username">{{ t .Lang "login_username" }}:</label>
                    <input type="text" id="username" name="username" value="{{ .Data.Usr }}" required aria-required="true">
                </div>
                <div class="field">
                    <label for="password">{{ t .Lang "login_password" }}:</label>
                    <input type="password" id="password" name="password" required aria-required="true">
                </div>
                <div>
                    <button type="submit" class="primary">{{ t .Lang "login_login" }}</button>
                </div>
                <p>
                    {{ .Data.Msg }}
                </p>
            </fieldset>
        </form>
    </main>
{{ end }}
