{{ block "main-home" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/home.css">
{{ end }}
{{ define "scripts" }}{{ end }}

{{ define "screen" }}
    <main>
        <div class="dashboard">
        {{- range $name, $plugin := .Plugins }}
            <div>
                <h3><a href="/{{$name}}">{{$name}}</a></h3>
                <ul>
                {{ range $cap := $plugin.GetCapabilities }}
                    {{ if $cap.DashUrlPath }}
                    <li><a href="/{{$name}}/{{$cap.DashUrlPath}}">{{$cap.Description}}</a></li>
                    {{ end }}
                {{ end }}
                </ul>
            </div>
        {{- end }}
        </div>
    </main>
{{ end}}
