{{ block "main-login" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/login.css">
{{ end }}
{{ define "scripts" }}{{ end }}

{{ define "screen" }}
    <main class="login screen">
        <form action="/login" method="post">
            <fieldset>
                <legend>Login</legend>
                <div class="field">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{.Usr}}" required aria-required="true">
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required aria-required="true">
                </div>
                <div>
                    <button type="submit" class="primary">Login</button>
                </div>
                <p>
                    {{.Msg}}
                </p>
            </fieldset>
        </form>
    </main>
{{ end }}
