{{ block "main-home" . }}
    {{- template "default-layout" . }}
{{ end }}

{{ define "styles" }}
    <link rel="stylesheet" href="/a/home.css">
{{ end }}
{{ define "scripts" }}{{ end }}

{{ define "screen" }}
    {{ $L := .Lang }}
    <main>
        <div class="dashboard">
            <div>{{ t $L "home_logged_in_as"}}: <strong>{{ .User.Name }}</strong></div>
            {{- range $name, $plugin := .Data.Plugins }}
            <div>
                <h3><a href="/{{$name}}">{{ t $L $name}}</a></h3>
                <ul>
                {{ range $cap := $plugin.GetCapabilities }}
                    {{ if $cap.DashUrlPath }}
                    <li><a href="/{{$name}}/{{$cap.DashUrlPath}}">{{ t $L $cap.Description}}</a></li>
                    {{ end }}
                {{ end }}
                </ul>
            </div>
        {{- end }}
        </div>
    </main>
{{ end}}
