# Ignore everything
*

# Allow subdirectories
!*/

# Allow this .gitignore file and the ones in subdirectories
!/.gitignore

# Allow LICENSE and README files in the root directory only.
!/LICENSE
!/README.md

# Module and checksum files
!go.mod
!go.sum

# Root level package
!/*.go
!/*.sql

# Main package generating the porgs command line program
/cmd/*.go
!/cmd/porgs/*.go
!/cmd/porgs/assets/*
!/cmd/porgs/views/*.go.html
!/cmd/porgs/layouts/*.go.html

# Plugin packages
!/*/*.go
!/*/*.sql
!/*/assets/*
!/*/views/*.go.*
