@import 'foundation.css';

body {
    /* Header/footer sticking to top/bottom, rest for main */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: rgb(237, 242, 251);
}

main {
    padding: 1rem;
    overflow: auto;
}

footer {
    padding: 0.5rem 1rem;
}

header > nav, footer > nav {
    /* Start, middle, end parts that stick to those positions */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
