<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>PORGS</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

    <link rel="stylesheet" href="/css/index.css">
    <script src="/javascript/index.js"></script>
</head>
<body>
<div class="title" th:text="${appConfig.shortName}">App Short Name</div>
<div class="subtitle" th:text="${appConfig.name}">Name</div>
<div class="footnote" th:text="${appConfig.version}">Version</div>

</body>
</html>
