<!--suppress HtmlUnknownTarget -->
{{ block "default-layout" . -}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ or .Title cfg.Title }}</title>
    <meta name="description" content="{{ cfg.Description }}">
    <link rel="icon" href="/a/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/a/app.css">
    <link rel="stylesheet" href="/a/login.css">
</head>
<body>
<header>
    <nav>
        <div><a href="/">{{ cfg.Title }}</a></div>
        <div></div>
        <div>
            {{- if ne .User.Name "anon"}}
            <a href="/home">{{ .User.Name }}</a>&nbsp;⋄
            <a href="/logout">logout</a>
            {{- else if ne .Name "main-login" }}
            <a href="/login">login</a>
            {{- end }}
        </div>
    </nav>
</header>
{{ template "screen" .Data }}
<footer>
    <nav>
        <div></div>
        <div>Powered by PORGS</div>
        <div></div>
    </nav>
</footer>
</body>
</html>
{{- end -}}
