<!--suppress HtmlUnknownTarget -->
{{ block "default-layout" . -}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ or .Title cfg.Title }}</title>
    <meta name="description" content="{{ cfg.Description }}">
    <link rel="icon" href="/a/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
    <link rel="stylesheet" href="/a/app.css">
    {{ template "styles" }}
    {{ template "scripts" }}
</head>
<body>
<header>
    <nav>
        <div><a href="/">{{ t .Lang "site-title" }}</a></div>
        <div></div>
        <div>
            {{- if ne .User.Name "anon"}}
            <a href="/home">{{ t .Lang "menu_home"}}</a>&nbsp;⋄
            <a href="/logout">{{ t .Lang "menu_logout"}}</a>
            {{- else if ne .Name "main-login" }}
            <a href="/login">{{ t .Lang "menu_login"}}</a>
            {{- end }}
        </div>
    </nav>
</header>
{{ template "screen" . }}
<footer>
    <nav>
        <div></div>
        <div>
            {{ if eq .Lang "en" }}<span>English</span>{{ else }}<a href="/lang/en">English</a>{{ end}}&nbsp;⋄
            {{ if eq .Lang "si" }}<span>සිංහල</span>{{ else }}<a href="/lang/si">සිංහල</a>{{ end}}&nbsp;⋄
            {{ if eq .Lang "ta" }}<span>தமிழ்</span>{{ else }}<a href="/lang/ta">தமிழ்</a>{{ end}}
        </div>
        <div></div>
    </nav>
</footer>
</body>
</html>
{{- end -}}
